<h1 class="cover-heading">Choose the best clown for your party</h1>

<div class="clowns-index">
<% @clowns.each do |clown| %>
    <a href="<%= clown_path clown %>" >
      <img src="<%= clown.image %>" alt="<%= clown.name %>" class="img-circle <%= clown.contract %>"
           data-toggle="tooltip" data-placement="bottom" title="<%= clown.name %>" />
    </a>
<% end %>
</div>

<script type="text/javascript">
</script>