<h1><%= @clown.name %></h1>

<% # [DL] Demeter Law is violated here. %>
<% # We can fix the problem using Decorator pattern and delegates %>
<% unless @clown.bookings.empty? %>
    <p>Last booking: <%= @clown.bookings.last.created_at.strftime('%e.%-m.%Y') %></p>
<% end %>

<% # [LSP] Remove the conditions once Clown#ranking_data is fixed %>
<% if @clown.ranking_data %>
<ul>
  <li>Points: <%= @clown.ranking_data.points %></li>
  <li>Bookings: <%= @clown.ranking_data.bookings %></li>
</ul>
<% else %>
<ul>
  <li>Points: <%= (@clown.is_student? ? '10' : '0') %></li>
  <li>Bookings: 0</li>
</ul>
<% end %>

<h2>Book a clown</h2>

<%= simple_form_for @booking do |f| %>
    <%= f.input :appointment_date %>
    <%= f.input :appointment_time, as: :select, collection: Booking::APPOINTMENT_TIME %>
    <%= f.input :clown_id, as: :hidden %>
    <%= f.submit %>
<% end %>